@import '../../Mixins.scss';
@import '../../Variables.scss';

.sidebar {
	&_link {
		@include flex(start, center, row);
		padding: 10px;
		border-radius: 10px;
		cursor: pointer;
		&:hover {
			background-color: rgba(224, 224, 224, 0.4);
		}
	}
	&_icon {
		font-size: 22px;
		color: $light-grey;
	}
	&_link_text {
		font-size: 14px;
		margin-left: 20px;
		color: $light-grey;
		text-transform: capitalize;
		cursor: pointer;
	}
	&_active_link &_link_text,
	&_active_link &_icon {
		color: $bright-blue;
	}
}
