@import '../../Variables.scss';
@import '../../Mixins.scss';
.notification {
	position: relative;
	cursor: pointer;
	width: 40px;
	height: 40px;

	&_icon {
		@extend %header_btns;
		color: $pink;
		transition: all 0.3s;
	}
	&_icon_active {
		color: #fff;
		background-color: $pink;
	}
}
