@import '../../Variables';
@import '../../Mixins';

.header {
	@include flex(space-between, center, row);
	padding: 20px 30px;
	border-bottom: 1px solid $lightest-grey;

	&_name {
		font-weight: 600;
		font-size: 28px;
		color: $primary-blue;
	}
	&_settings {
		@include flex(center, center, row);
		gap: 0 20px;
	}
}
