@import '../../Variables';
@import '../../Mixins';

.sidebar {
	width: 100%;
	max-width: 220px;
	height: 100vh;
	padding: 30px;
	border-right: 1px solid $lightest-grey;

	&_links {
		@include flex(initial, initial, column);
		gap: 5px 0;
	}
}

@media screen and (min-width: 1200px) {
	.sidebar {
		&_links {
			gap: 10px 0;

			&_link_text {
				font-size: 15px;
			}
		}
	}
}
