@mixin flex($justify, $align, $direction) {
	display: flex;
	justify-content: $justify;
	align-items: $align;
	flex-direction: $direction;
}

%header_btns {
	background-color: #f5f7fa;
	font-size: 40px;
	border-radius: 50%;
	padding: 10px;
}
